colour>=0.1.5
cvxpy>=1.0.3
#cycler>=0.10.0
graphviz>=0.15
matplotlib>=3.3.3
numpy>=1.13.3
pandas>=0.21.1
plotly==2.2.3
#pyparsing>=2.2.0
#python-dateutil>=2.6.1
#pytz>=2017.3
#requests>=2.25.0
scipy>=1.5.4
scikit-learn>=0.19.1
seaborn>=0.11.0
#six>=1.11.0
statsmodels>=0.12.1
tqdm>=4.54.0
zipline>=1.4.1